# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
runs
run-data
repo
run/*
!run/kubejs/
run/kubejs/*
!run/kubejs/client_scripts/
!run/kubejs/server_scripts/
!run/kubejs/startup_scripts/
run/kubejs/client_scripts/*
run/kubejs/server_scripts/*
run/kubejs/startup_scripts/*
!run/kubejs/client_scripts/test/
!run/kubejs/server_scripts/test/
!run/kubejs/startup_scripts/test/