# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
!run/kubejs/client_scripts/test/
!run/kubejs/server_scripts/test/
!run/kubejs/startup_scripts/test/
runs
run-data

repo
